extends layout

block content
  
  .container
      // title
      br
      .row.bg-light
        .col-md-6
          h3 Emma Stone
      // picture video
      .card
        .row
          .col-md-4.col-md-offset-2
            img(width='288' height='365' src='/img/star-director/Emma Stone.jpg' alt='...')
          .col-md-8.col-md-offset-2
            iframe(width='788' height='365' src='https://www.youtube.com/embed/jpZrVxvG3mk' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
      // description
      .card.text-dark.border-light
        .card-header
          h4 About Emma Stone
        .card-body
          h5.card-title Bio
          div.card-text
            p Emily Jean "Emma" Stone was born in Scottsdale, Arizona, to Krista (Yeager), a homemaker, and Jeffrey Charles Stone, a contracting company founder and CEO. She is of Swedish, German, and British Isles descent. Stone began acting as a child as a member of the Valley Youth Theatre in Phoenix, Arizona, where she made her stage debut in a production of Kenneth Grahame's "The Wind in the Willows". She appeared in many more productions through her early teens until, at the age of fifteen, she decided that she wanted to make acting her career.

            p The official story is that she made a PowerPoint presentation, backed by Madonna's "Hollywood" and itself entitled "Project Hollywood", in an attempt to persuade her parents to allow her to drop out of school and move to Los Angeles. The pitch was successful and she and her mother moved to LA with her schooling completed at home while she spent her days auditioning.

            P She had her TV breakthrough when she won the part of Laurie Partridge in the VH1 talent/reality show In Search of the Partridge Family (2004) which led to a number of small TV roles in the following years. Her movie debut was as Jules in Superbad (2007) and, after a string of successful performances, her leading role as Olive in Easy A (2010) established her as a star.

          table.table.table-striped
            tr
              td Born:
              td November 6, 1988 in Scottsdale, Arizona, USA
            tr
              td Birth Name:
              td Emily Jean Stone
            tr
              td Height:
              td 5'6" (1.68m)
      // photos
      .card.text-dark.border-light
        .card-header
          h4 Photos
        .row
          .col-md-2
            .card
              img(src='/img/movies/cruella-1.jpeg' alt='...')
          .col-md-2
            .card
              img(src='/img/movies/cruella-2.jpeg' alt='...')
          .col-md-2
            .card
              img(src='/img/movies/cruella-3.jpeg' alt='...')
          .col-md-2
            .card
              img(src='/img/movies/cruella-4.jpeg' alt='...')
          .col-md-2
            .card
              img(src='/img/movies/cruella-5.jpeg' alt='...')
          .col-md-2
            .card
              img(src='/img/movies/cruella-6.jpeg' alt='...')

      .card.text-dark.border-light
        .card-header
          h4 Known For
        .row
          .col-md-2
            .card
            a.thumbnail(href='/movie')
              img(src='/img/movies/CRUELLA.jpeg' alt='cruella')
            .card-body
              h5.card-title CRUELLA
          .col-md-2
            .card
            a.thumbnail(href='/movie')
              img(src='/img/movies/CRUELLA.jpeg' alt='cruella')
            .card-body
              h5.card-title CRUELLA
          .col-md-2
            .card
            a.thumbnail(href='/movie')
              img(src='/img/movies/CRUELLA.jpeg' alt='cruella')
            .card-body
              h5.card-title CRUELLA
          .col-md-2
            .card
            a.thumbnail(href='/movie')
              img(src='/img/movies/CRUELLA.jpeg' alt='cruella')
            .card-body
              h5.card-title CRUELLA
          .col-md-2
            .card
            a.thumbnail(href='/movie')
              img(src='/img/movies/CRUELLA.jpeg' alt='cruella')
            .card-body
              h5.card-title CRUELLA
          .col-md-2
            .card
            a.thumbnail(href='/movie')
              img(src='/img/movies/CRUELLA.jpeg' alt='cruella')
            .card-body
              h5.card-title CRUELLA
          br
  .container-fluid
          footer.bs-docs-footer
            .container-fluid(style='background-color: #080808;')
              .row
                div(clas='col-md-4 col-md-offset-1')
                  a(href='#') Help
                  br
                  a(href='#') About MovieTrends
                  br
                  a(href='#') Contact Us
                .col-md-4
                p Follow MovieTrends
                div
            .row
              .col-md-8.col-md-offset-2
                | Copyright &copy; MovieTrends. All rights reserved.